.ccbill-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
}

.ccbill-overlay img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
